body {
    font-family: Lato, Montserrat, sans-serif;
    text-align: center;
    color: white;
    background-color: #00b4d0;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
	background-attachment: fixed;
}

.jumbotron {
    background-color: #00b4d0;
    margin-top: 2rem;
}

.navbar {
    background-color: white !important;
}

@media (min-width: 767px) {
    #bookCover {
        max-width: 25%;
    }
}

#requestEarlyAccess {
    color: #00b4d0;
    background-color: white;
    border: white 5px solid;
    border-radius: 0;
    transition: 0.5s;
}
#requestEarlyAccess:hover, #requestEarlyAccess:focus, #requestEarlyAccess:active {
    color: white;
    background-color: #00b4d0;
    border: white 5px solid;
}